html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='stylesheets/index.css')
        title Bienvenidos
    body
        .container
            .row.h-100
                .col-10.col-sm-10.col-md-10.col-lg-10.col-xl-8.col-xxl-8.offset-1.offset-sm-1.offset-md-1.offset-lg-1.offset-xl-2.offset-xxl-2.my-auto
                    .row.shadow-container.bg-white
                        .text-center
                            img.img-fluid.my-4(src='images/bienvenido.gif' width=550)